<%= render DS::Dialog.new(variant: "drawer", frame: "bulk_transaction_edit_drawer") do |dialog| %>
  <% dialog.with_header(title: t("transactions.bulk_updates.new.edit_transactions"), data: { bulk_select_target: "bulkEditDrawerHeader" }) %>

  <% dialog.with_body do %>
    <%= styled_form_with url: transactions_bulk_update_path, scope: "bulk_update", class: "h-full flex flex-col justify-between gap-4", data: { turbo_frame: "_top" } do |form| %>
      <div class="space-y-4">
        <%= render DS::Disclosure.new(title: t("transactions.bulk_updates.new.overview"), open: true) do %>
          <%= form.date_field :date, label: t("transactions.bulk_updates.new.date"), max: Date.current %>
        <% end %>

        <%= render DS::Disclosure.new(title: t("transactions.bulk_updates.new.transactions"), open: true) do %>
          <div class="space-y-2">
            <%= form.collection_select :category_id, Current.family.categories.alphabetically, :id, :name, { prompt: t("transactions.bulk_updates.new.select_category"), label: t("transactions.bulk_updates.new.category"), class: "text-subdued" } %>
            <%= form.collection_select :merchant_id, Current.family.available_merchants_for(Current.user).alphabetically, :id, :name, { prompt: t("transactions.bulk_updates.new.select_merchant"), label: t("transactions.bulk_updates.new.merchant"), class: "text-subdued" } %>
            <%= form.select :tag_ids, Current.family.tags.alphabetically.pluck(:name, :id), { include_blank: t("transactions.bulk_updates.new.none"), multiple: true, label: t("transactions.bulk_updates.new.tags"), include_hidden: false } %>
            <%= form.text_area :notes, label: t("transactions.bulk_updates.new.notes"), placeholder: t("transactions.bulk_updates.new.notes_placeholder"), rows: 5 %>
          </div>
        <% end %>
      </div>

      <div class="flex justify-end gap-2 mt-auto">
        <%= render DS::Button.new(text: t("transactions.bulk_updates.new.cancel"), variant: "ghost", data: { action: "click->DS--dialog#close" }) %>
        <%= render DS::Button.new(text: t("transactions.bulk_updates.new.save"), data: { bulk_select_scope_param: "bulk_update", action: "bulk-select#submitBulkRequest" }) %>
      </div>
    <% end %>
  <% end %>
<% end %>
